body
{
    padding-left: 30em; 
    padding-top: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
}

label.cantidad, label.cliente
{
    padding-left: 60px;
}

label.producto
{
    padding-left: 140px;
}

label.preUni, label.preTot
{
    padding-left: 135px;
}

input.cliente
{
    width: fit-content;
}

input.producto
{
    width: 18em
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: white;
    width: 245px;
    z-index: 1;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.opcion
{
    position: absolute;
    width: 245px
}