*
{
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container
{
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    padding-left: 75px;
    background-color: white;
    box-shadow: 0 0 10px black;
}

form
{
    display: block;
    width: 100%;
    padding: 20px;
}

table
{
    width: 100%;
    display: block;
    padding-left: 320px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#cliente
{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

th, td
{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

p
{
    padding-left: 320px;
}

button
{
    display: inline-block;
    padding: 10px 20px;
    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 5px;
}