*
{
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container
{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form
{
    display: block;
    width: 100%;
    padding: 20px;
}

label, table
{
    width: 100%;
    display: block;
}

#cliente
{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

table
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td
{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
